
body{
    margin: 0%;
}
#silde-container{
    position: relative;
    width: 100%;

}
#sild img{
    width: 100%;

}
.arrow{
    position: absolute;
    cursor: pointer;
    top: 45%;
    color: black;
    background-color: rgba(245, 245, 220, 0.756);
    border-radius: 50%;
    padding: 8px 19px;
    font-size: 25px;
    font-weight: bold;

}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}
#caption{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    text-align: center;
    bottom: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.244);
}
.sild{
    display: none;
}



